@font-face {
    font-family: "new-spirit";
    src: url("../font/typekit") format("woff2"),
        url("../font/woff") format("woff"),
        url("../font/d.woff") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    height: 50px;
    text-align: center;
}

h1 {
    color: white;
    z-index: 2;
    font-family: "new-spirit", serif;
    font-size: 3rem;
}

.video {
    width: 100%;
    height: 100%;
    display: block;
    object-position: center center;
    object-fit: cover;
    position: relative;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.btn {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -50px; 
    z-index: 2;
    padding: 10px 20px;
}

.btn:first-child {
    transform: translatex(-50%);
}

.btn:last-child {
    transform: translatex(50%);
}


@media screen and (max-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .btn:first-child {
        transform: translatex(-60%);
    }
    
    .btn:last-child {
        transform: translatex(60%);
    }
}

@media screen and (max-width: 800px) {
    .btn:first-child {
        transform: translatex(0%);
    }
    
    .btn:last-child {
        transform: translatex(100%);
    }
    
    .btn {
        top: 95%;
        left: 0;
        width: 50%;
        margin: 0;
        z-index: 2;
        text-align: center;
    }
}

